.button {
  cursor: pointer;
}

.mobil-open {
  box-sizing: border-box;
  width: 384px;
  height: 64px;
  padding: 20px 43px;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  color: white;
  font-size: 20px;
  line-height: 1.2;
}

.mobil-button-submit {
  width: 384px;
  height: 64px;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.mobil-open:hover,
.mobil-open:focus,
.mobil-button-submit:focus,
.mobil-button-submit:hover {
  background: #f3c653;
  color: #000000;
}
/* <!-- ===========Кнопки для модалок десктоп і таблет++++++ --> */

.desctop-open {
  width: 592px;
  height: 64px;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;

  
}
