.container {
  width: 414px;
}

a {
  text-decoration: none;
}

.header {
    display: flex;
}

.header-adres {
  display: inline-block;
  width: 210px;
  height: 47px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
